#dt-dash {
    display: flex;
    flex: 1;
    justify-items: center;
}

#dt-dash .input-target-file {
    display: inline-block;
    margin-top: 0.5em;
    cursor: pointer;
    color: #45bff6;
    font-weight: bold;
}

#dt-dash .input-target-file input {
    display: none;
}

#dt-dash .canvasContainer {
    text-align: center;
    flex: 1;
}

#dt-dash .left-col, #dt-dash .right-col {
    flex: 0 1 22em;
    padding: 0 1em;
}

#dt-dash .left-col h2, #dt-dash .right-col h2 {
    margin-top: 0;
}

#dt-dash .pause, #dt-dash .play {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
}

#dt-dash .pause {
    font-size: 35px;
    margin-top: -3px;
}

#dt-dash .pause.EVOLUTION_PAUSE {
    color: #45bff6;
}

#dt-dash .play {
    font-size: 20px;
}

#dt-dash .play.EVOLUTION_GO {
    color: #45bff6;
}

.stats td.num {
    text-align: right;
}
