#dt-dash {
    display: flex;
    flex: 1;
    justify-items: center;
}

#dt-dash .play-pause-get {
    display: flex;
    align-items: center;
}

#dt-dash .download-image {
    margin-left: auto;
}

#dt-dash svg {
    overflow: visible;
}

#dt-dash .download-image a, #dt-dash .input-target-file {
    display: inline-block;
    cursor: pointer;
    color: #45bff6;
    font-weight: bold;
    padding: .5em;
    border: 1px solid #45bff6;
}

#dt-dash .input-target-file {
    margin-top: .5em;
}

#dt-dash .input-target-file input {
    display: none;
}

#dt-dash .canvasContainer {
    text-align: center;
    flex: 1;
}

#dt-dash .left-col, #dt-dash .right-col {
    flex: 0 1 18em;
    padding: 0 1em;
}

#dt-dash .right-col {
    padding-right: 3em;
}

#dt-dash .right-col p {
    margin: 1.6em 0 0.4em 0;
    font-size: small;
}

#dt-dash .left-col h2, #dt-dash .right-col h2 {
    margin-top: 0;
}

#dt-dash svg {
    margin-right: 20px;
    cursor: pointer;
}

#dt-dash h2.stats-header {
    margin-top: 1.5em;
}

#dt-dash .stats td.num {
    text-align: right;
    width: 5em;
}
