* {
    box-sizing: border-box;
}

#dt-app {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    color: #333;
}

#dt-app h2 {
    font-family: monospace;
    color: #666;
}

#dt-app a {
    text-decoration: none;
    color: #0984bb;
}
